

.login-container {
  color: rgb(220, 139, 64);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.login-welcome {
  text-align: center;
  z-index: 1;
}

#in-todo-itive {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.dot {
  font-size: 0.6em;
  margin: 0 0.2em;
}

#squiggle {
  width: 20em;
  height: auto;
  margin: auto 0;
}

#login-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: 2em;
}

#username {
  background-color: rgb(62, 62, 62);
  width: 18em;
  height: 2em;
  border-radius: 7px;
  border: none;
  margin: 1em 0;
  color: rgb(182, 182, 182);
  text-align: center;
}

#password {
  background-color: rgb(62, 62, 62);
  width: 18em;
  height: 2em;
  border-radius: 7px;
  border: none;
  margin: 1em 0;
  color: rgb(182, 182, 182);
  text-align: center;
}

#login-submit {
  background-color: rgb(212, 21, 171);
  width: 10em;
  height: 2em;
  border-radius: 7px;
  border: none;
  margin: 1em 0;
  cursor: pointer;
}

#login-submit:hover {
  background-color: rgb(231, 38, 189);
}

::placeholder {
  color: rgb(182, 182, 182);
}

#account,
#sign-up {
  color: rgb(212, 21, 171);
}

#sign-up:hover {
  color: rgb(231, 38, 189);
}
