:root {
  --orange: rgb(236, 132, 100);
  --green: rgb(180, 220, 132);
  --lightGreen: rgb(210, 255, 155);
}

.login-container {
  color: var(--orange);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 95vh;
}

.login-welcome {
  text-align: center;
  z-index: 1;
}

#in-todo-itive {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.dot {
  font-size: 0.6em;
  margin: 0 0.2em;
}

#squiggle {
  width: 20em;
  height: auto;
  margin: auto 0;
}

#login-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: 2em;
}

#username {
  background-color: rgb(62, 62, 62);
  width: 18em;
  height: 2em;
  border-radius: 7px;
  border: none;
  margin: 1em 0;
  color: rgb(182, 182, 182);
  text-align: center;
}

#password {
  background-color: rgb(62, 62, 62);
  width: 18em;
  height: 2em;
  border-radius: 7px;
  border: none;
  margin: 1em 0;
  color: rgb(182, 182, 182);
  text-align: center;
}

#username:hover, #password:hover {
  background-color: rgb(108, 108, 108);
}

#login-submit {
  background-color: var(--green);
  width: 10em;
  height: 2em;
  border-radius: 7px;
  border: none;
  margin: 1em 0;
  cursor: pointer;
}

#login-submit:hover {
  background-color: var(--lightGreen);
}

::placeholder {
  color: rgb(182, 182, 182);
}

#account,
#sign-up {
  color: var(--green);
}

#sign-up:hover {
  color: var(--lightGreen);
}
